<div class="modal-dialog" role="document">
  <div class="modal-content">

<div class="modal-header">
<h5 class="modal-title">ログイン</h5><br>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :メールアドレス %><br>
  <%= f.email_field :email %><br>

  <%= f.label :パスワード %><br>
  <%= f.password_field :password %><br>
  <p>テストユーザー：test@gmail.com　パス：123456</p>
  <br>
  <div class="modal-footer">
  <%= f.submit "ログイン", class: "btn-circle-fishy" %>
  </div>
<% end %>
</div>
</div>
