<h1>こんにちは,<%= @user.name %>さん</h1>
<p>メールアドレス<%= @user.email %></p>
<% if @user.user_image.url %>
<p>ユーザーイメージ<%= image_tag @user.user_image.url, :size =>'378x318'%></p>
<% else %>
<p>あなたの写真を投稿しよう！</p>
<% end %>

<%= link_to '編集', edit_user_path(@user) ,class: 'btn-square-so-pop'%> 
<%= link_to '写真一覧', pictures_path ,class: 'btn-square-so-pop2'%> 
<%= link_to '写真を投稿する', new_picture_path ,class: 'btn-square-so-pop3'%>