
<div class="modal-dialog" role="document">
<div class="modal-content">
<body>
<div class="wrapper">
<header>

<div class="modal-header">
<h5 class="modal-title">Picture show</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<%= link_to '詳細へ', @picture, class: 'btn btn-primary'%>
<% if @picture.user_id == current_user.id %>
<%= link_to '編集', edit_picture_path(@picture),remote: true, class: 'btn btn-success'%>
<div id="picture-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end %>

<h3 id="notice"><%= notice %></h3>
</header>

<br>
<br>
<h2>タイトル: 
  <%= @picture.image_title %>
</h2>
<p><%= image_tag @picture.image.url, :size =>'378x318'%>
</p>
<h2>投稿者: 
<%= @picture.user.name %>
</h2>
<h2>コンテント: 
  <%= @picture.image_content %>
</h2>

<% if @picture.labels.present? %>
<h2>ラベル：
<% @picture.labels.each do |label| %>
  <label style="background-color: aquamarine"><%= label.label_title %></label>
<% end %></h2>
<% else %>
<h2>ラベル：未設定</h2>
<% end %>

<br>


</body>
</div>
</div>