<body>
<div class="wrapper">
<header>
<h2>検索</h2>
<%= search_form_for @q do |f| %>
    <%= f.label :image_title_cont, "タイトル検索" %>
    <%= f.search_field :image_title_cont %>
    <%= f.submit "検索" %>
    <% end %>
    
<h1>Picture List</h1>
<%= link_to '写真を投稿する',new_picture_path ,remote: true, class: 'btn btn-success' %>
<div id="picture-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<h3 id="notice"><%= notice %></h3>
</header>

  <div>
    <% @pictures.each do |picture| %>   
      <div>
      <p><%= image_tag picture.image.url, :size =>'378x318'%></p>
        <h2>投稿者: <%= picture.user.name %></h2>
        <h2>タイトル: <%= picture.image_title %></h2>
        <h2>内容: <%= picture.image_content %></h2>

        <% if picture.labels.present? %>
        <h2>ラベル：
        <% picture.labels.each do |label| %><label style="background-color: aquamarine"><%= label.label_title %></label>
        <% end %></h2>
        <% else %>
        <h2>ラベル：未設定</h2>
        <% end %>
        <p><%= link_to '確認', picture ,remote: true, class: 'btn btn-primary'%>

        <% if current_user.id == picture.user.id %>
        <%= link_to '削除', picture, method: :delete, data: { confirm: '削除しますか?' } , class: 'btn btn-danger' %></p>
      <% end %>
      </div>
 
  <% end %>
  </div>
  </div>
</body>