<body>
<div class="wrapper">
<header>
<h1>写真</h1>
<% if @picture.user_id == current_user.id %>
<%= link_to '編集', edit_picture_path(@picture),remote: true, class: 'btn btn-success' %>
<div id="picture-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end %>
<%= link_to '一覧に戻る', pictures_path ,class: 'btn btn-primary'%>

<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

</header>
<br>
<br>
<h2>タイトル: 
  <%= @picture.image_title %>
</h2>
<p><%= image_tag @picture.image.url, :size =>'378x318'%>
</p>
<h2>投稿者: 
<%= @picture.user.name %>
</h2>
<h2>コンテント: 
  <%= @picture.image_content %>
</h2>

<% if @picture.labels.present? %>
<h2>ラベル：
<% @picture.labels.each do |label| %>
  <label style="background-color: aquamarine"><%= label.label_title %></label>
<% end %></h2>
<% else %>
<h2>ラベル：未設定</h2>
<% end %>



<h2>コメントする</h2>
<div id="comments_area">
<%= render partial: 'comments/index', locals: { comments: @comments, picture: @picture } %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, picture: @picture } %>
</body>