<body>
<div class="wrapper">
<header>
<h1>picture</h1>
<% if @picture.user_id == current_user.id %>
<%= link_to '編集', edit_picture_path(@picture),remote: true, class: 'btn-square-so-pop2' %>
<div id="picture-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end %>
<%= link_to '一覧に戻る', pictures_path ,class: 'btn-square-so-pop3'%>

</header>
<br>
<br>
<h2>タイトル: 
  <%= @picture.image_title %>
</h2>
<p><%= image_tag @picture.image.url, :size =>'378x318'%>
</p>
<h2>投稿者: 
<%= @picture.user.name %>
</h2>
<h2>コンテント: 
  <%= @picture.image_content %>
</h2>

<% if @picture.labels.present? %>
<h2>ラベル：</h2>
<% @picture.labels.each do |label| %>
  <label style="background-color: aquamarine"><%= label.label_title %></label>
<% end %>
<% end %>
</body>